<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dictionary</title>
</head>
<body style="background-color:#66ff99;">

<h1>DICTIONARY</h1>
<HR><p style="font-size:20px;font-family:verdana;">
1.	one	ओने 	eka <br><br>
2.	two	   "द्वि	dvi  <br><br>
3.	three	त्रि	tri<br><br>
4.	four    "चतुर	catur<br><br>
5.	five	पञ्च	panca<br><br>
6.	six	षष्	sas<br><br>
7.	seven	सप्त	sapta<br><br>
8.	eight	"अष्ट	"	asta<br><br>
9.	nine	नव	nava<br><br>
10.	zero	शून्य	sunya<br><br>
11.	teacher	 गुरु	 guru<br><br>
12.	air	 वायु. 	vayu<br><br>
13.	head	 मस्तक	  mastaka<br><br>
14.	body	 देह	  deha<br><br>
15.	hand	 कर	  kara<br><br>
16.	neck	 कण्ठ	  kantha<br><br>
17.	ear	 कार्ण 	  karna<br><br>
18.	foot	पाद	  pada<br><br>
19.	tooth	 दन्त 	 danta<br><br>
20.	nail	 नख 	  nakha<br><br>
21.	hair	 केश 	  keza<br><br>
22.	fruit	 फलक	 phalaka<br><br>
23.	crow	 काक 	  kaka<br><br>
24.	peacock	 मायूर 	  mayurah<br><br>
25.	parrot	 शुक 	  zuka<br><br>
26.	bee	 मधुप 	  madhupa<br><br>
27.	active	 अनलस	  analasa <br><br>
28.	lazy	 अलम	  alama<br><br>
29.	happy	 सम	  sama<br><br>
30.	beautiful	 नडह	  nadaha<br><br>
31.	animal	 चरि	  cari<br><br>
32.	human	 आयु	  Ayu<br><br>
33.	tree	 तरु 	 tar<br><br>
34.	speak	 वदते	 vadate<br><br>
35.	beautiful	 सुन्दर	 sundar<br><br>
36.	pure	 शुद्ध	 shuddha<br><br>
37.	okay	 अस्तु	 Astu<br><br>
38.	happiness	 सुख	 sukha<br><br>
39.	soul	 आत्मन्	 atman<br><br>
40.	good morning	 सुप्रभातम् 	 suprabhaatam<br><br>
41.	good afternoon	 शुभमध्याह्नम्	  shubhamadhyahnam<br><br>
42.	thank you	 धन्यवादः	 Dhanyavaadaha<br><br>
43.	welcome	 सुस्वागतम्	  susvaagatam<br><br>
44.	excuse me	 क्षम्यताम्	  Kshamyataam<br><br>
45.	no worries	 चिन्तामास्तु 	 Chintaamastu<br><br>
46.	please	 कृपया 	 krapayaa<br><br>
47.	please come here	 कृपया अत्र आगच्छतुतु 	 krapayaa atra aagachchatu<br><br>
48.	ten	दश	(dasha)<br><br>
49.	elelven	एकादश	(ekaadasha)<br><br>
50.	twelve	द्वादश	(dvaadasha)<br><br>
51.	thirteen	त्रयोदश	(trayodasha)<br><br>
52.	fourteen	चतुर्दश	(chaturdasha)<br><br>
53.	fifteen	पञ्चदश	(panchadasha)<br><br>
54.	sixteen	षोडश	(shodash)<br><br>
55.	seventeen	सप्तदश	(saptadasha)<br><br>
56.	eighteen	अष्टादश	(ashtaadasha)<br><br>
57.	nineteen	नवदश	(navadasha)<br><br>
58.	twenty	विंशतिः	(vimshatihi)<br><br>
59.	twenty one	 एकविंशतिः 	(ekavimshatihi)<br><br>
60.	twenty two 	द्वाविंशतिः	 (dvaavimshathi)<br><br>
61.	twenty three	त्रयोविंशतिः 	(trayovimshatihi)<br><br>
62.	twenty four	चतुर्विंशतिः	 (chaturvimshatihi)<br><br>
63.	twenty five	 पञ्चविंशतिः	 (panchavimshatihi)<br><br>
64.	twenty six	 षड्विंशतिः	 (shadvimshatihi)<br><br>
65.	twenty seven	 सप्तविंशतिः	 (saptavimshatihi)<br><br>
66.	twenty eight	 अष्टाविंशतिः	 (ashtaavimshatihi)<br><br>
67.	twenty nine	 नवविंशतिः	 (navavimshatihi)<br><br>
68.	thirty	 त्रिंशत् 	(trimshat)<br><br>
69.	thirty one	 एकत्रिंशत् 	(ekatrimshat)<br><br>
70.	thirty two	 द्वात्रिंशत् 	(dvaatrimshat)<br><br>
71.	thirty three	 त्रयस्त्रिंशत् 	(trayastrimshat)<br><br>
72.	thirty four	 चतुस्त्रिंशत् 	(chatustrimshat)<br><br>
73.	thirty five	 पञ्चत्रिंशत् 	(panchatrimshat)<br><br>
74.	thirty six	 षट्त्रिंशत् 	(shat-trimshat)<br><br>
75.	thirty seven	 सप्तत्रिंशत् 	(saptatrimshat)<br><br>
76.	thirty eight	 अष्टत्रिंशत् 	(ashtatrimshat)<br><br>
77.	thirty nine	 नवत्रिंशत् 	(navatrimshat)<br><br>
78.	forty	 चत्वारिंशत् 	(chatvaarimshat)<br><br>






</p>

</body>
</html>