<html>
	<head>
		<title>Tutorial</title>
		<link rel = "stylesheet" href = "{{ url_for('static', filename='css/styles.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
<body>
	<div class = "main">
		<div class = "title">
			BIT Sanskrit
		</div>
	</div>
	<p class = "tutorial">Tutorial 1</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/wsVrV7ox60Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 2</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/8_Af5C0CI-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 3</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/ef81EaGPs_0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 4</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/v9hJJlwxmPM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 5</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/OMOfZ1-XYvw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 6</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/qLfoa97CKXM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 7</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/6iH07ArleTk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 8</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/9yWxNwL8vg0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 9</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/NMyB0NR-lnM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p class = "tutorial">Tutorial 10</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/AMWgN3XUpfI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</body>
</html>