<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Bit Sanskrit</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	</head>
	
<body>

	<div class = "main">
		
		<img src = "{{url_for('static', filename='main.jpg')}}" alt = "Introduction image" style="width:100%;height:700px">
		<div class="title" style="width:1200px">
			<b>BIT Sanskrit</b> <a href=dict style="text-decoration: none;color: white;"> <h3 style="font-size:20px;text-align:right;"><u>Dictionary</u></h3></a>
		</div>

	<div>
	<div class = "clipart" data-aos="fade-right">
		<img src = "{{url_for('static', filename='1.png')}}">
	</div>
	
	<div class = "intro" data-aos="fade-left"> 
		BIT Sanskrit aims to explore how the unique qualities of the Internet can facilitate the task of learning and teaching Sanskrit. To some extent this site is iconoclastic, for although it owes much to both traditional Sanskrit grammar and classical Western philology, it does away with both whenever they make the task of learning Sanskrit needlessly complicated.
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	

	<center><div class = "hr" data-aos="fade-right">
		<img src = "{{url_for('static', filename='hr1.gif')}}" >
	</div></center>
	
	<div class = "learning" data-aos="fade-right">
		<img src = "{{url_for('static', filename='learning.png')}}" class = "learning-img">
		<p class = "learning-para">Learning Path</p>
	</div>
	
	<div class = "translator" data-aos="fade-left">
		<a href=trans>	<img src = "{{url_for('static', filename='translator.jpg')}}" class = "translator-img"></a>
		<p class = "translator-para">Translator</p>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<div class = "copyright">
		<center>@Copyright 2021 BIT Sanskrit</center>
	<div>


	 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	  <script>
		AOS.init();
	  </script>

</body>

</html>